//* CSS RESETS
-----------------------------------------  */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit}del,ins{text-decoration:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:baseline}sub{vertical-align:baseline}legend{color:#000}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}input,button,textarea,select{*font-size:100%}input {border: none;}
.screen-reader-text { position: absolute; left: -9999px; top: -9999px; }
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .group, *:first-child+html .group { zoom: 1; } /* First selector = IE6, Second Selector = IE 7 */


/* DEFAULTS
-----------------------------------------  */
html {
	background-color: #f9f9f9;
	background: url('../images/background.png') repeat-x;
	background-position-x: center;
	background-attachment:fixed;
	overflow-y: scroll;
	overflow-x: hidden;
	}
body { background: transparent; font-family: puritan, arial, sans-serif; }
iframe { float: left; width: 50px; margin-right: 5px; }
a { font-size: 15px; color: #747c68; text-decoration: none; }
a:hover { color: #76bef3; }
h1 { font-size: 26px; font-weight: bold; }
h2 { font-size: 24px; font-weight: bold; }
strong { font-weight: bold; }
#container {
	width: 920px;
	min-height: 630px;
	margin: 10px auto;
	}
button { border-radius: 3;  }

textarea,
input[type=text],
input[type=tel],
input[type=password],
select {
	font-family: puritan, arial, sans-serif;
	color: silver;
	padding: 5px 5px;
	margin: 7px 0px;
	border: 2px solid #a2a2a2;
	border-radius: 2px;
	outline: none;
	
	text-shadow: 1px 1px 2px #E6E6E6;
	transition: border 0.3s ease-in-out;
    -webkit-transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -moz-transition: border 0.3s ease-in-out;
    box-shadow: inset 2px 2px 10px rgba(0,0,0, 0.1);
	}
	
	textarea:focus,
	input[type=text]:focus,
	input[type=tel]:focus,
	input[type=password]:focus,
	select:focus { border: 2px solid #32afd8; box-shadow: inset 2px 2px 10px rgba(0,0,0, 0.2); }


#logo { margin: 10px 5px; text-align: center; }
.fade { opacity: 0.1;  }
.hidden { display: none; }
.calign { text-align: center; }
.fb { zoom: 75%; }

#messageBox {
	font-family: puritan, arial, sans-serif;
	background: #a1bea5 url('../images/userThBg.png') repeat-x;
	background-position: bottom;
	color: white;
	font-size: 20px;
	text-shadow: 2px 2px 1px #757575; 
}

/* LOGIN FORM
------------------------------------------------------ */


#loginForm {
	width: 125px;
	position: absolute;
	right: 10px;
	top: 15px;
	}

	#loginForm input[type=tel],
	#loginForm input[type=password] {
		font-size: 18px;
		padding: 3px 7px;
		width: 120px;
		border: 2px solid #a2a2a2;
		margin: 0px;
		}
		#loginForm input[type=tel]:focus,
		#loginForm input[type=password]:focus { border: 2px solid #32afd8; }
	

/* REGISTRATION & SPLASH PAGE
------------------------------------------------------ */
#container h2 { color: #526167;}
#innerContainer { width: 815px; margin: 0 auto;}
#logoFormContainer  { width: 800px; padding-top: 30px; }
#yoo 				{ float: left; opacity: 0.8; margin-bottom: 250px; position: relative; bottom: 13px; }
#registerForm { height: 215px; }
#formPartTwo { display: none; }

#registerForm p { font-size: 21px; }

#setItButton,
.submitButton,
.submitButtonSmall {
	background: url('../images/set-it-button2.png');
	height: 40px;
	width: 136px;
	font-family: puritan, arial, sans-serif;
	font-size: 21px;
	color: white;
	text-shadow: 2px 2px 0px black;
	opacity: 0.7;
	margin: 5px 0px;
	margin-top: 10px; 
	transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
	}
	
	.submitButtonSmall {
		background: url('../images/set-it-button-small.png');
		height: 29px;
		width: 86px;
		font-size: 17px;
		}
	#setItButton { zoom: 120%; }
	#setItButton:hover,
	.submitButton:hover,
	.submitButtonSmall:hover { border:none; opacity: 1.0; cursor: pointer; }
	/* #addReminderButton { zoom: 75%; } */

.bigForm input[type=tel],
.bigForm input[type=password],
#registerForm label,	
#registerForm input[type=text],
#registerForm input[type=tel],
#registerForm input[type=password],
#registerForm select#intervalCombo {
	font-size: 30px;
	}
	.bigForm input[type=tel],
	.bigForm input[type=password],
	#registerForm label { color: #6E6E6E; margin: 7px; }
	#registerForm input[type=text],
	#registerForm input[type=tel],
	#registerForm input[type=password],
	#registerForm select#intervalCombo {
		width: 260px;
		height: 30px;
		}
	
	#registerForm input.validate { border: 3px solid #FF8000; }
	#registerForm label.validate {
		font-family: puritan, arial, sans-serif;
		font-size: 20px;
		color: #FF8000;
	
		text-shadow: 1px 1px 2px white; 
	}
		
	#registerForm #intervalText { width: 232px; }	
	#registerForm #reminderText { width: 320px; }
	#registerForm #gettingStarted,
	#registerForm #gettingStarted a { font-size: 13px; }
	#registerForm .small { font-size: 16px; color: #888; }

/* STEP TWO
------------------------------------------------------ */	

#loading img { margin: 20px 50px 50px; }

.stepTwo {
	width: 100%;
	height: 100%;
	background: transparent url('../images/backgroundStepTwo.png') repeat;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	}
	.stepTwo hr { text-align: left; border: 1px dashed #bfbfbf; margin-bottom: 8px; }
	
.s2Container {
	background: transparent url('../images/backgroundS2Container.png') repeat;
	margin: 0px auto;
	width: 280px;
	padding: 10px 20px 10px;

	border: 2px solid #b2b2b2;
	border-radius: 3px;
	z-index: 150;
	color: #222;
	
	position: relative;
	top: 50%;
	margin-top: -300px;
	box-shadow: 0px 3px 7px rgba(59,59,59,0.2);
	}
	.s2Container input { font-size: 23px; }
	.s2Container h1 {
		font: 30px Puritan, arial, san-serif;
		color: #888888;
		letter-spacing: -1px;
		margin: 4px;
		text-align: center;
		}
	.s2Container label { padding: 5px; font-size: 17px; color: #a9adac; font-weight: bold;}

	.s2Container h2 { color: #9ac3bf; font: 21px Puritan, arial, san-serif; }
	.s2Container table { margin: 0px; padding: 0px; text-align: left;}	
	.s2Container table,
	.s2Container p, ul, ol, li { color: #a9adac; letter-spacing: -1px; margin: 0px; }
	.s2Container input { margin: 2px 2px 8px; }
	.s2Container ul { margin: 5px 30px 20px;}
	.s2Container li { font-size: 17px; font-weight: bold; margin: 5px 0px 5px; color: #9ac3bf; }


/* UpgradeWindow
------------------------------------------------------ */
#upgradeWindow .s2Container { width: 600px; }
#upgradeWindow .s2Container table { margin: 5px auto; }
#upgradeWindow .s2Container select,
#upgradeWindow .s2Container input[type=text] { width: 250px; margin: 3px; padding: 5px; }
#upgradeWindow .s2Container select { background-color: white; font-size: 22px; }
#upgradeWindow p { font-size: 24px; }
#sellIt { font-size: 18px;  }

/* Error Page / Login Page
------------------------------------------------------ */
#login,
#error {
	text-align: center;
	width: 600px;
	height: 230px;
	padding: 20px;
	margin: 0 auto;
	background-color: #7ba281;
	background-color: rgba(123, 162, 129, 0.9);
	border: 5px solid #76917a;
	
	position: relative;
	top: 70px;
	border-radius: 7px;
	}
	#login h1,
	#error h1 {
			font: 88px Puritan, arial, san-serif;
			height: 75px;
			color: #9aabab;
			-webkit-text-stroke: 2px #bcddc2;
			-moz-text-stroke: 2px #bcddc2;
			letter-spacing: -4px;
			margin: 25px;
		}
	#error p { color: #bbd3bf; margin-bottom: 15px; }
	#error img { float: left; border-radius: 7px; box-shadow: 3px 3px 2px #39533d; }

#login {
	height: 320px;
	text-align: left;
	top: 0px;
	padding: 0px 20px 20px;
	}
	#login input[type=tel],
	#login input[type=password] { width: 552px; margin: 12px;  }
	#login h1 { text-align: center; margin: 10px 0px 17px; font-size: 71px; }
	#login p { font-size: 19px; margin: 10px; text-align: center; color: #ffad2b; text-shadow: 2px 2px 1px rgba(0,0,0, 0.2);;}
/* User Page Control Panel
------------------------------------------------------ */



/* Control Panel Defaults */
div.fauxTableContainerSmall,
div.fauxTableContainer,
#controlPanel,
#controlPanel table {
	margin: 10px auto;
	margin-bottom: 0px;
	width: 920px;
    font-family: 'Puritan', sans-serif;
    font-size: 21px;
    line-height: 25px;
    font-style: normal;
	}
	
	/* Control Panel Header */
	div.fauxTableHead,
	#controlPanel table thead th {
		background: url('../images/userThBg.png') repeat-x;
		color: white;
		border-right: 1px solid #93aa96;
		text-shadow: 2px 2px 1px #757575;
		text-align: center;
		padding: 10px;
		font-size: 22px;
		height: 26px;
		}
		
	/* Control Panel Body */	
	div.fauxTableBody,
	#controlPanel table tbody td {
		background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.03, rgb(240,240,240)), color-stop(0.6, rgb(255,255,255)) );
		background-image: -moz-linear-gradient( center bottom, rgb(240,240,240) 3%, rgb(255,255,255) 60%);
		border-right: 1px solid #ededed;
		color: #919191;
		z-index: 10;

		padding: 10px;
		}
		div.fauxTableBody { height: 133px; }
		
	/* Control Panel Buttons */
	#controlPanel .deactivate,
	#controlPanel .activate,
	#controlPanel .removeReminder {
		background: url('../images/on-off-sprite.png');
		width: 75px; height: 27px;
		margin-left: 11px;
		background-position: -10px -5px;
		opacity: 0.9;
		-webkit-transition: opacity 0.3s ease-in-out;
		}
		#controlPanel .removeReminder { width: 25px; height: 31px; background-position: -200px -1px; margin: 0px; }
		#controlPanel .deactivate { background-position: -109px -5px; }
		
		#controlPanel .deactivate:hover,
		#controlPanel .activate:hover,
		#controlPanel .removeReminder:hover,
		#controlPanel .deactivate:active,
		#controlPanel .activate:active,
		#controlPanel .removeReminder:active {
			opacity:1.0;
			cursor: pointer;
			}
		
	/* Control Panel Button/Status Classes */
	#controlPanel .off   { opacity: 0.85; }
	#controlPanel .off .interval  { font-size: 15px; }
	#controlPanel .small { font-size: 20px; letter-spacing: -1px; line-height: 5px; }
	#controlPanel .active   { width: 95px; text-align: center; }
	#controlPanel .interval { width: 280px; border: none; }
	#controlPanel .buttons   { width: 27px; text-align: center; color: red; border: none;}
	
	/* Control Panel Under Shadows */
	div.underShadow,
	div.underShadowFooter,
	div.underShadowSmall { 
		width: 910px;
		height: 15px;
		margin: 10px auto;
		background: url('../images/bottom-shadow.png');
		position: relative;
		bottom: 10px;
		}
		div.underShadowSmall { 
			width: 430px;
			background: url('../images/bottom-shadow-small.png');
			}	
		div.underShadowFooter {
			width: 790px;
			background: url('../images/bottom-shadow-footer.png');
			}

	/* Control Panel Add New Reminder */
	#controlPanel div.newReminder { height: 170px; padding: 20px; }
		#controlPanel input[type=text] { height: 30px; width: 375px; }
		#reminderText { width: 435px; height: 144px; float: left; margin-right: 15px; }

		
		
		
	/* Control Panel Small Container */
	#controlPanel div.fauxTableContainerSmall { width: 457px; margin: 0px 3px 0px 0px; float: left; }
		/* Control Panel Account Settings/Upgrade Lists */
		.ctrlPanelList { font-size: 16px; line-height: 19px; }
		div.fauxTableContainerSmall .ctrlPanelList label { display: block; float: left; width: 170px; font-weight: bold; }
		div.fauxTableContainerSmall ul.ctrlPanelList,
		div.fauxTableContainerSmall ul.promoList  {
			width: 350px;
			margin: 5px auto;
			}
			div.fauxTableContainerSmall .ctrlPanelList li { clear: both; list-style-type: none; margin: 5px; }
			div.fauxTableContainerSmall a {  }

/* Control Panel Account Settings Box */
.gear {
	position: relative;
	top: 4px;
	}

/* Control Panel Upgrade Today Box */
@-webkit-keyframes pulse {
0%   { opacity: 1.0;}
35%  { opacity: 0.90;}
100% { opacity: 1.0; }
}
    
#upgradeButton {
	float: left;
	margin: 7px 10px 10px 0px;
	-webkit-transform-style: preserve-3d;
	-webkit-animation: pulse 1s infinite cubic-bezier(0.44, 0.18, 0.83, 1);
	}

/* Footer
------------------------------------------------------ */


#footer {
	clear:both;
	background-color: #a1bea5;
	width: 800px;
	height: 25px;
	padding: 13px 0px;
	list-style: none;
	margin: 20px auto;
	margin-bottom: 0px;
	text-align: center;
	border-radius: 1px;
	}
	#footer li { display: inline; padding: 0px 15px; }
	#footer a {
		color: #E0E0E0;
		font: 23px Puritan, arial, san-serif;
		text-decoration: none;
		text-shadow: 2px 2px 1px #757575;
		-webkit-transition: color 0.3s ease-in-out;
		}
		ul#footer a:hover { color: #76bef3;}

.ui-widget,
.ui-timepicker-div,
.ui-datepicker-div {
	font-size: 1em;
	font-family: Puritan, Arial,sans-serif;
	}
.ui-widget-content a { font-size: 19px; letter-spacing: 1px; color: silver; font-weight: bold; }
/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

@media only screen and (device-width: 768px) and (orientation: portrait) {
  body { overflow: hidden; }
  body.user { zoom: 80%; }
  body.splash { zoom: 90%; }
}
